services:

  postgis:
    image: postgis/postgis:17-3.5
    platform: linux/amd64
    restart: on-failure
    environment:
      POSTGRES_USER: geo-search
      POSTGRES_PASSWORD: geo-search
      POSTGRES_DB: geo-search
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    container_name: geo-search-db

  django:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
      target: development
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgis
    container_name: geo-search-django

volumes:
  pgdata:
    driver: local

networks:
  default:
    name: helsinki
