django
django-cors-headers
django-gisserver
django-environ
django-helsinki-health-endpoints
django-parler
django-parler-rest
djangorestframework
djangorestframework-api-key
djangorestframework-xml
drf-spectacular
psycopg[c]
requests
sentry-sdk[django]
whitenoise
uwsgi
uwsgitop
